.wikipedia {
  position: relative;
  padding: 0.5rem 0;
  text-align: center;
  
  &__wikisearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    left: 5rem;
  }
}