@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.randomcontainer {
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }
  
  .randomquote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-family: 'Cinzel', serif;
    margin-top: 12rem;
    border-radius: 1rem;
    max-width: 85vw;
    width: 55rem;
    background-color:rgba(255, 255, 255, 0.75);
    color: black;
    padding: 0.5rem; 

    @media only screen and (max-width: 900px) {
      font-size: 1.8rem;
    }

    &__author {
      margin-top: 0;
      color: #fff;
      float: right;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .social {
    margin: 20px;
  }

  .twit-social {
    margin-right: 10px;
  }

  fb-social {
    margin-left: 10px;
  }
  
