.box {
  position: relative;
}

.boxTitle {
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}