.allquote {
  &__container {
    padding-bottom: 4rem;
  }

  &__content {
    padding-top: 2rem;
  }
  
  li {
    font-family: 'sans-serif', sans-serif;
    text-align: center;
  }
}

.card {
  padding: 20px;
  margin: 20px;
}

.allquotes__wrapper {
  padding-right: 40px;
}

