.allquote {
    // display: flex;
    // justify-content: center;
  &__container {
    padding-bottom: 4rem;
  }

  &__content {
    padding-top: 2rem;
  }

  &__wrapper {

  }
  
  li {
    font-family: 'sans-serif', sans-serif;
    text-align: center;
  }
}
