.author {
    &__ancient {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__enlightenment {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__modern {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__artists {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__entrepreneurs {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__scientists {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
